<script>
	import Counter from "./Counter.svelte";
	import welcome from "$lib/images/svelte-welcome.webp";
	import welcome_fallback from "$lib/images/svelte-welcome.png";
	/** @type {import('./$types').PageServerLoad} */
	export let data;
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<div class="row">
		<div class="column">
			<h1>Files</h1>
			<ul>
				{#each data.post as d}
					<li>{d.name}</li>
				{/each}
			</ul>
		</div>
		<div class="column">
			<form method="POST">
				<label>
					Email
					<input name="email" type="email">
				</label>
				<label>
					Password
					<input name="password" type="password">
				</label>
				<button>Log in</button>
			</form>
		</div>
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}

	h1 {
		width: 100%;
	}

	.welcome {
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 calc(100% * 495 / 2048) 0;
	}

	.welcome img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
	}
</style>
