<!-- 
{
    "variables": [
        {
            "name": "body",
            "type": "long_text",
            "label": "Get the body of the page",
            "default": "<h1>Title</h1><p>desc<p>"
        }
    ]
}
-->
<html>

<head>
    <style>
        body {
            display: block;
            margin: 0px;
            overflow-x: hidden !important;
        }
    </style>
</head>

<body>
    {{body}}
</body>

</html>