<!-- 
{
    "variables": [
        {
            "name": "link",
            "type": "text",
            "label": "Link to incorporate",
            "default": "https://design.penpot.app/#/view/2ce020ae-2ffc-8057-8002-be2779e50fe5?page-id=4fa12080-0d58-80a3-8002-3a1f7e5ab26d&section=interactions&index=0&share-id=2ce020ae-2ffc-8057-8002-be27a0285131"
        },
        {
            "name": "width",
            "type": "int",
            "label": "Frame width",
            "default": 1390
        },
        {
            "name": "height",
            "type": "int",
            "label": "Frame height",
            "default": 2164
        },
        {
            "name": "top_cut",
            "type": "int",
            "label": "CUT top",
            "default": -50
        },
        {
            "name": "left_cut",
            "type": "int",
            "label": "CUT left",
            "default": -10
        }   
    ]
}
-->
<html>

<head>
    <style>
        body {
            display: block;
            margin: 0px;
            overflow-x: hidden !important;
        }
    </style>
</head>

<body>
    <iframe id="page"
        src="{{link}}"
        title="test">
    </iframe>
</body>

<script type="text/javascript">
    // input
    const width_frame = {{width}};
    const height_frame = {{height}};
    const top_cut = {{top_cut}};
    const left_cut = {{left_cut}};

    // compute
    const w = window.innerWidth;
    let scale = w / width_frame
    const top_cut_scaled = top_cut * scale
    scale = scale - w / (width_frame * 150) // reduce of the 1.5%

    const iframe = document.getElementById("page");
    iframe.style = `transform-origin: top left; height: ${height_frame}px; width: ${width_frame}px;position: relative; top: ${top_cut_scaled}px; left: ${left_cut}px;`
    iframe.style.transform = `scale(${scale})`;
</script>

</html>